:root{
    --primary-color: #583593;
    --secondary-color: #9c7fd5;
    --teal: #c5fbf0;
    --white: #fff;
    --black: #000;
    --gray: #d3d3d3;
}

.btn-primary {
    color: var(--white);
    border-color: var(--primary-color);
    background: var(--primary-color);
}


/* navbar */
nav form .btn{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

nav form .btn:hover{
    border: none;
    background: var(--primary-color);
    color: var(--white);
}

#signin-btn{
    background: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

#signin-btn:hover{
    background: var(--secondary-color);
    color: var(--white);
}

/* Testimonials */
.testimonials .card {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonials .card-text {
    font-style: italic;
}

.testimonials img {
    width: 50px;
    height: 50px;
}

/* uploadevents.html: file upload box */
/* fix the display of the button */
.file-wrapper {
    width: 100%;
    margin: auto;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
.upload-file {
    border: 2px dashed var(--gray);
    color: var(--secondary-color);
    width: 400px;
    height: 250px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    min-height: 300px;
}
.success {
    display: none; 
}

.success i {
    font-size: 22px;
    margin-left: 6px;
    margin-top: 10px;
    color: var(--primary-color);
}

.font-50 {
    font-size: 50px;
}

.d-block {
    display: none;
}

.btn .upload-file {
    font-size: 13px;
}

.upload-btn {
    display: block;
    font-size: 18px;
    color: var(--primary-color);
}

/* Footer */
.footer{
    background: var(--secondary-color);
}

.footer h5 {
    color: var(--white);
    font-weight: 600;
}

.footer ul a{
    color: var(--white);
}

