:root{
    --primary-color: #583593;
    --secondary-color: #9c7fd5;
    --teal: #c5fbf0;
    --white: #fff;
    --black: #000;
    --gray: #d3d3d3;
}

.btn-primary {
    color: var(--white);
    border-color: var(--primary-color);
    background: var(--primary-color);
}


/* navbar */
nav form .btn{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

nav form .btn:hover{
    border: none;
    background: var(--primary-color);
    color: var(--white);
}

#signin-btn{
    background: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

#signin-btn:hover{
    background: var(--secondary-color);
    color: var(--white);
}

/* Hero Section */
.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../images/florida3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding-top: 120px;   /* makes it noticeably larger */
    padding-bottom: 120px;
}
.highlight {
    color: var(--secondary-color);
}

/* Testimonials */
.testimonials .card {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonials .card-text {
    font-style: italic;
}

.testimonials img {
    width: 50px;
    height: 50px;
}

/* events page */
.img-wrapper {
    max-height: 250px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* sampleevents.html */
.event-section img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* uploadevents.html: file upload box */
/* fix the display of the 'browse folders here' button */
.file-wrapper {
    width: 100%;
    margin: auto;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    display: block;
}
.upload-file {
    border: 2px dashed var(--gray);
    color: var(--secondary-color);
    width: 100%;
    white-space: normal;
    max-width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    min-height: 300px;
}
.success {
    display: none; 
}

.success i {
    font-size: 22px;
    margin-left: 6px;
    margin-top: 10px;
    color: var(--primary-color);
}

.font-50 {
    font-size: 50px;
}

.d-block {
    display: none;
}

.btn .upload-file {
    font-size: 13px;
}

.upload-btn {
    display: block;
    width: 100%;
    font-size: 18px;
    color: var(--primary-color);
}

/* Tag box */
.tags-input ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-input input[type="text"]:focus {
    outline: none;
}
.tags-input .delete-button {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}

/* Location box */
.location-box {
    background: #dbe2ec;
    padding: 1.2rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.location-tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: .8rem;
}

.location-tabs .tab {
    cursor: pointer;
    padding: .3rem .5rem;
    border-radius: 10px;
    transition: .2s;
    font-weight: 500;
}

.location-tabs .tab:hover,
.location-tabs .tab.active {
    background: #fff;
}

.location-divider {
    height: 1px;
    background: #b7beca;
    margin: .8rem 0 1rem;
}

/* Calendar box */
.calendar-box {
    border: 2px solid #52637f;
    border-radius: 10px;
    padding: 1rem;
}

.flatpickr-calendar {
    border-radius: 10px !important;
}

/* Duration Box */
.duration-content {
    margin: .9rem 0 1.5rem;
    padding-left: .5rem;
    display: none;
    transition: all .25s ease;
}

/* Toggle rows */
.settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 0;
    border-bottom: 1px solid #d3d7de;
}

.settings-content {
    margin: .8rem 0 1.2rem;
    padding-left: .5rem;
    display: none;
    transition: all .25s ease;
}

.settings-content.show {
    display: block !important;
}

/* Force show when toggled */
.settings-content.show {
    display: block !important;
}

/* Profile.html */

/* aside bar */
.sidebar-box {
    border: 1px solid #c8d1e0;
    background: none;
    border-radius: 12px;
}

.sidebar-box li{
    padding: 8px 0;
    cursor: pointer;
    font-size: 0.95rem;
}

.sidebar-box li.active{
    font-weight: 600;
    color: var(--black);
}

/* cards */
.event-card {
    background: #f4f6fb;
    border-radius: 16px;
}

.event-img {
    width: 180px;
    height: 120px;
    background-color: #dfe3ea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-img::after {
    opacity: 0.3;
    font-size: 150px;
}

.event-img img{
    object-fit: cover;
}


/* Footer */
.footer{
    background: var(--secondary-color);
}

.footer h5 {
    color: var(--white);
    font-weight: 600;
}

.footer ul a{
    color: var(--white);
}

