.testimonials .card {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonials .card-text {
    font-style: italic;
}

.testimonials img {
    width: 50px;
    height: 50px;
}